<section class="page-header">
  <h1 class="project-name">sparkpipe-core</h1>
  <h2 class="project-tagline">Modular, non-linear pipeline framework for Spark</h2>
  <a href="https://github.com/unchartedsoftware/sparkpipe-core" class="btn">View on GitHub</a>
  <a href="{{/docs/ | prepend: site.baseurl }}{{site.latest}}{{ "/#software.uncharted.sparkpipe.package"}}" target="_blank" class="btn">Documentation</a>
  <!--<a href="https://github.com/unchartedsoftware/sparkpipe-core/zipball/master" class="btn">Download .zip</a>-->
  <a href="https://github.com/unchartedsoftware/sparkpipe-core/tarball/master" class="btn">Download .tar.gz</a>
</section>
