<section class="page-header">
  <h1 class="project-name">sparkpipe</h1>
  <h2 class="project-tagline">Modular, non-linear data pipeline framework for <a href="http://spark.apache.org/" target="_blank">Apache Spark</a></h2>
  <a href="https://github.com/unchartedsoftware/sparkpipe-core" class="btn">View on GitHub</a>
  <a href="{{site.baseurl}}/docs/{{site.latest}}{{ "/#software.uncharted.sparkpipe.package"}}" target="_blank" class="btn">Documentation</a>
  <!--<a href="https://github.com/unchartedsoftware/sparkpipe-core/zipball/master" class="btn">Download .zip</a>-->
  <a href="https://github.com/unchartedsoftware/sparkpipe-core/tarball/master" class="btn">Download .tar.gz</a>
</section>
